
{% extends 'home.html' %}

{% block content %}



<h1>Edit Student</h1>


<div>
    <form  action=" {% url 'updateStudent' %} "  method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
{% for i in student %}

        
      <label for="fname">Student ID</label>
      <input type="text" value="{{i.id}}" name="studentid" placeholder="Your ID.." required>

      <label for="fname">First Name</label>
      <input  type="text" value="{{i.FirstName}}" name="firstname" placeholder="Your name.." required>
  
      <label >Last Name</label>
      <input type="text" value="{{i.LastName}}"  name="lastname" placeholder="Your last name.." required>
  
      <label >Mobile Number</label>
      <input type="text" value="{{i.Mobile}}"  name="mobile" placeholder="Your Mobile Number.." required>

      

      <input type="submit" value="Update">
      
  {% endfor %}
    </form>
  </div>

  


{% endblock  %}